header
    .header__column
        i.fa.fa-youtube-play(aria-hidden="true")
    .header__column
        ul 
            li
                a(href="#") Join
            li
                a(href="#") Log in