.social-login
    button.social-login--github
        a(href="/auth/github")  
            span   
                i.fa.fa-github
            | Continue with Github

    button.social-login--facebook
        span   
            i.fa.fa-facebook
        | Continue with Facebook
        