doctype html
html
    head
        title #{pageTitle} | #{siteName}
        script(src="https://use.fontawesome.com/bef3c981cc.js")

    body
        include ../partials/header
            
        main
            block content

        include ../partials/footer