@charset 'UTF-8';

@import "./pages/home.scss";
@import "./pages/videoDetail.scss";
@import "./pages/userDetail.scss";

@import "./config/variables";
@import "./config/reset.scss";

@import "./partials/header.scss";
@import "./partials/footer.scss";
@import "./partials/form.scss";
@import "./partials/socialLogin.scss";

body {
  background-color: $bgdColor;
}

#header {
  width: 100%;
  margin-bottom: 20px;
  background-color: $mainColor;
}
#main {
  width: 100%;
  padding: 30px 0;
}
#footer {
  width: 100%;
  margin: 20px 0 0;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  background-color: darken($color: $bgdColor, $amount: 3%);
}

.container {
  width: 1280px;
  margin: 0 auto;
}
.row {
  padding: 0 28px;
}

.main {
}
